<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Test">
    <test name="Tests2">
        <classes>
            <class name="declaration.tests.DeclarationFirstPersonTest"/>
            <class name="declaration.tests.DeclarationSecondPersonTest"/>
            <class name="declaration.tests.PanelsTest"/>
            <class name="declaration.tests.CopyPdfFileTest"/>
        </classes>
    </test>
</suite>